body {
/*margin: 0 auto;
max-width: 500px;*/
font-family: "Helvetica", "Arial", sans-serif;
line-height: 1.5;
padding: 40px 0px;
color: #555;
margin: 0px;
}
h1, h2, div {
  margin: 0 auto;
  max-width: 500px;
}
h2 {
  margin-top: 10px;
  padding-top: 1em;
}
h1,
h2,
strong {
  color: #333;
}
pre {
  padding: 10px;
  border-left: 2px solid #69c;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}
a {
color: #e81c4f;
}
iframe {
  max-width: 100%;
}
form {
  background-color: black;
  padding: 50px;
}
input {
  height: 50px;
  display: inline-block;
  border: none;
}
.email {
  background-color: transparent;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding-left: 15px;
  width: 60%;
  color: #eee;
}
.submit {
  background-color: white;
  color: black;
  width: 40%;
  text-transform: uppercase;
}
.email:focus {
  outline: none;
}
.full-width {
  max-width: none;
}
